body {
  background-image: linear-gradient(rgba(74, 91, 116, 0.781), rgb(21, 31, 43));
  text-align: center;
  font-family: 'Major Mono Display', monospace, 'Times New Roman', serif;
  font-size: 15px;
}

header {
  color: rgb(231, 231, 231);
  background-image: linear-gradient(rgb(0, 7, 15), rgba(0, 0, 0, 0.781));
  padding-top: 5px;
  padding-bottom: 25px;
}

button {
  border: 1px solid rgb(46, 46, 46);
  margin-top: 15px;
  margin-right: 7px;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(41, 73, 94);
  color: #fff;
  text-decoration: none;
  outline: none;
  border-radius: 5px;
  box-shadow: 1px 2px rgb(136, 136, 136);
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 1px 2px #666;
  transform: translateY(4px);
}

#secrets {
  margin: 20px;
  display: inline-block;
  
}

#secrets1 {
  margin-bottom: 30px;
  width: 100%;
  border: 2.5px solid black;
  min-width:300px;
  height: 200px;
  overflow: auto; 
  background-color: rgb(218, 229, 238);
}

#secrets0 {
  display: inline-block;
}

.inputBox {
  font-size: 20px;
}

.counted {
  display: inline-block;
}

.apps {
  margin-top: 20px;
}

.amounts {
  margin: 0px 15px;
  display: inline-block;
}

.amount {
  margin: 0px 10px;
  display: inline-block;
}

#input3{
  margin: 0px 15px;
}

#input4{
  margin: 0px 15px;
}